@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --background-accent: #FEFAF7;
  --primary: #154D57;
  --secondary: #B7A08B;
  --text: #000000;
}

/* Prevent overscroll bounce */
html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  overscroll-behavior-y: none;
  color: var(--text);
  background: var(--background);
  -webkit-tap-highlight-color: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Improve touch targets */
button, a {
  min-height: 44px;
  min-width: 44px;
}

/* Prevent text size adjustment */
* {
  -webkit-text-size-adjust: none;
}
